<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css">

<body class="lost">
  <div class="wrapper">

    <div class="game-over-container">
      <h1>You Lost.</h1>
      <h2>Go read a dictionary</h2>

      <a href="/" class="replay">Play again?</a>
    </div>

  </div>
</body>
